/* you do not need to adjust or add any CSS in this assignment */
*{
	margin: 0;
	padding: 0;
    box-sizing: border-box;
}

body{
    background-color: white;
    width:100%;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    color:darkslategray;
}
h1{
    font-size:30px;
}
h2{
    font-size:20px;
}
p{
    font-size:18px;
}
figcaption{
    font-size:14px;
}
main{
    padding:1%;
    width:70%;
    float:left;
    
}
header{
    background-color: #002866;
    border-bottom:1px solid #ddd;

    padding-right:30px;

}

header img{
    height:100px;
}

video{
    width:100%;
    border:1px solid #ddd;
}

aside{
    width:30%;
    border-left:1px solid #ddd;
    padding:1%;
    float:right;
}
figure .movie-img{
    width:100%;
    border:1px solid #ddd;
}

figure .movie-img{
    width:100%;
    border:1px solid #ddd;
}
figure .author-img{
    width:150px;
}

