main{
    background-image: url('../imgs/pattern.jpg');
    background-size: 10%;
}
header{
    position:fixed;     
}
nav{
    position: fixed;
    top: 10px;
    right: 110px;
}
button :hover{
    position:relative;
    top: 20px;
    right:20px;
}