*{
	margin: 0;
	padding: 0;
}

body{
	height: 2000px;
	background-image: url('../images/bg.jpg');
	background-repeat: repeat;
}

.container{
	position: fixed;
	width: 100%;
}

.container section{
	width: 300px;
	padding: 40px;
	margin: 50px auto;
	text-align: center;
	background-color: #FFFFFF;
}